<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llama.hub.mapper.AuditLogMapper">

    <sql id="allColumns">
        id, username, action, target, detail, ip, created_at
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO audit_log (username, action, target, detail, ip, created_at)
        VALUES (#{username}, #{action}, #{target}, #{detail}, #{ip}, #{createdAt})
    </insert>

    <select id="selectList" resultType="com.llama.hub.model.AuditLog">
        SELECT <include refid="allColumns"/>
        FROM audit_log
        <where>
            <if test="username != null and username != ''">AND username = #{username}</if>
            <if test="action != null and action != ''">AND action = #{action}</if>
            <if test="startAt != null">AND created_at &gt;= #{startAt}</if>
            <if test="endAt != null">AND created_at &lt; #{endAt}</if>
        </where>
        ORDER BY created_at DESC
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*)
        FROM audit_log
        <where>
            <if test="username != null and username != ''">AND username = #{username}</if>
            <if test="action != null and action != ''">AND action = #{action}</if>
            <if test="startAt != null">AND created_at &gt;= #{startAt}</if>
            <if test="endAt != null">AND created_at &lt; #{endAt}</if>
        </where>
    </select>

    <delete id="deleteOlderThan">
        DELETE FROM audit_log WHERE created_at &lt; #{cutoff}
    </delete>

</mapper>
